body {
    background-color: #ffffff;
    font-family: "Assistant", sans-serif;
    color: #071c4d;
}

// NAVBAR
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;

            &.active {
                font-weight: bold;
                color: #071c4d !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;

    height: 70px;
    border-radius: 0;
}

.btn-login {
    background-color: #071c4d;
    color: white;

    &:hover {
        background-color: #30519e;
        color: white;
    }
}

// HEADER
header {
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url("../images/header.jpg");
    background-size: cover;

    h1,
    p {
        color: white;
    }
    h1 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 50px;
    }
    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #ff9e53;
        color: white;

        &:hover {
            background-color: #ff740a;
            color: white;
        }
    }
}

// Statistik
.section-stats {
    margin-top: -50px;
    .stats-detail {
        padding-top: 15px;
        background-color: white;
        padding-left: 40px;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

// Popular
.section-popular {
    min-height: 540px;
    background-color: #051334;
    margin-top: -67px;
    margin-bottom: -230px;

    .section-popular-heading {
        margin-top: 150px;
        h2,
        p {
            color: white;
        }
        h2 {
            font-family: "Playfair Display", serif;
            font-weight: bold;
            font-size: 40px;
        }
        p {
            font-size: 18px;
        }
    }
}

// Popular Content
.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: rgb(119, 119, 119);
            color: white;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }

        .travel-country {
            font-size: 18px;
            color: white;
        }
        .travel-location {
            font-size: 26px;
            color: white;
        }
        .travel-button {
            background-color: #ff9e53;
            color: white;

            &:hover {
                background-color: #ff740a;
                color: white;
            }
        }
    }
}

// Secntion Networks
.section-networks {
    background-color: white;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;
    h2 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        font-size: 18px;
    }
    img {
        max-width: 100%;
    }
}

// section Testimonial heading
.section-testimonial-heading {
    background: linear-gradient(white 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;
    h2 {
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }
    p {
        font-size: 18px;
    }
}

// section testimonial content

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content {
            min-height: 380px;
        }
        h3 {
            font-size: 22px;
        }
        .testimonial {
            font-weight: 200;
            font-size: 26px;
            color: #6e6e6e;
            min-height: 160px;
        }
        .trip-to {
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }
        hr {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .btn-get-started {
        background-color: #ff9e53;
        color: white;

        &:hover {
            background-color: #ff740a;
            color: white;
        }
    }
    .btn-get-help {
        background-color: #f2f2f2;
        color: #c3c3c3;

        &:hover {
            background-color: #fafafa;
            color: #c3c3c3;
        }
    }
}

.section-footer {
    a {
        color: #071c4d;
    }
}

.section-details-header {
    min-height: 310px;
    background-color: #e4e6eb;
    margin-top: -70px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }
    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071c4d;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
        }
        h2 {
            font-size: 20px;
        }
        h3 {
            font-weight: 600;
            font-size: 13px;
            color: #071c4d;
        }
        p {
            font-size: 18px;
            color: #b1b1b1;
        }
        .trip-informations {
            th {
                font-weight: 300;
                font-size: 18px;
                color: #071c4d;
            }
            td {
                font-weight: 300;
                font-size: 18px;
                color: #b1b1b1;
            }
            .text-blue {
                color: #071c4d;
                font-weight: bold;
            }
            .text-orange {
                color: orange;
                font-weight: bold;
            }
        }
        .payment-instructions {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }
        .bank {
            .bank-item {
                h3 {
                    font-size: 18px;
                    color: #071c4d;
                    margin-bottom: 0;
                }
                p {
                    margin-bottom: 0;
                }
                .description {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;
                    p {
                        font-weight: normal;
                        font-size: 16px;
                        color: #071c4d;
                    }
                }
            }
            .bank-image {
                width: 45px;
                height: 45px;
                float: left;
            }
        }
        .disclaimer {
            font-weight: 300;
            font-size: 13px;
            color: #b1b1b1;
        }
        .gj-datepicker {
            .datepicker {
                border-right: 0;
            }
            .input-group-append {
                .btn {
                    padding-right: 30px;
                }
            }
        }
        .btn-add-now {
            background-color: #071c4d;
            color: white;
            &:hover {
                background-color: #043dc4;
                color: white;
            }
        }
    }
    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }
    .features {
        margin-top: 18px;
        h3 {
            font-size: 18px;
            color: #071c4d;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0;
        }
        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }
        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery {
        .xzoom-container {
            display: block;
            .xzoom {
                width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }
            .xactive {
                border: 7px solid #1abc9c;
                box-shadow: none;
            }
        }
    }
    .member {
        .member-image {
            width: 40px;
            height: 40px;
        }
    }
    .join-container {
        margin-top: -16px;
    }
    .btn-join-now {
        background-color: #ffb57c;
        color: white;
        border-radius: 0;

        &:hover {
            background-color: #ff8222;
            color: white;
        }
    }
}
.section-success {
    height: 90vh;
    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
    }
    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }
    .btn-home-page {
        border-radius: 4px;
        background-color: #071c4d;
        color: white;

        &:hover {
            background-color: #043dc4;
            color: white;
        }
    }
}
.forpas {
    margin-left: -13px;
}
.create_account {
    font-weight: bold;
}
